html {
	margin: 0;
	font-size: 62.5%;
	min-height: 100%;
}

body {
	font-size: 1.8rem;
	padding: 5em 0;
	margin: 0;
	background-color: #faf4f4;
	font-family: "Arial", "Helvetica", sans-serif;
	color: #4c4141;
}

table, th, td{
	border: 2px solid black;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
	width: 345px;
}
/*code taken from https://developers.google.com/maps/documentation/javascript/examples/places-searchbox
part of how to use the api*/
#page-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	text-align: center;
	color: #f9f9f9;
	text-shadow: 2px 2px 4px #000011;
	background-color: #b7b7b7;

}

#page-footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #d99898bf;
	padding: 0 0 2em 2em;
}

#map {
	height: 400px;
	width: 100%;
}

#flex-box {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 1em
	background-color: #e0baba;
}

#column1 {
	width: 50%
}

#column2 {
	width: 50%
}

.imgVW {
	width: 50vw;
}

.unlink {
	text-decoration: none;
	color: inherit;
}

.float-right {
	position: relative;
	float: right;
	padding: 0 1em 0 0;
}

#about-webpage {
	padding-left: .75rem;
	padding-right: .75rem;
}
