html {
	margin: 0;
	font-size: 62.5%;
	min-height: 100%;
}

body {
	font-size: 1.8rem;
	padding: 5em 0;
	margin: 0;
	background-color: #faf4f4;
	font-family: "Arial", "Helvetica", sans-serif;
	color: #4c4141;
}

table, th, td{
	border: 2px solid black;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}


#page-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	text-align: center;
	color: #f9f9f9;
	text-shadow: 2px 2px 4px #000011;
	background-color: #b7b7b7;
	font-size: 1.5rem;
	
}

#page-footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #d99898bf;
	padding: 0 0 2em 2em;
}

#map {
	height: 400px;
	width: 50%;
}
#user_input {
	
}
#flex-box {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 1em
	background-color: #e0baba;
}

#column1 {
	width: 49vw;
}

#column2 {
	width: 49vw;
}

.imgVW {
	height: 30vw;
	width: 45vw;
}

.unlink {
	text-decoration: none;
	color: inherit;
}

.float-right {
	position: relative;
	float: right;
	padding: 0 1em 0 0;
}

#allFilters{
	border: 1px solid black;
	width: 50rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
	
	float: right;
}
#numDays input{
		width: 20rem;
}