<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

	<link rel="stylesheet" type="text/css" href="hw2-style.css">
</head>
<body>

		<div id="page-header">
		<h1> Google Maps </h1>
		<a class="unlink float-right" href="https://faul7249.github.io//CISC375HW2/about.html">About the Coders</a>
	</div>
	<p>Note: I've been using the tutorials to get things to work, but they probably won't work as intended unless we edit some stuff. The important work left to be done is as follows:</p>
	<ul>
		<li>Input box text should update with new location (city name, lat/lon coordinates, ...) when map is panned</li>
	</ul>
		<div id="allFilters">
	<h3><u>Filters</u></h3>
	
		<h4>Particles:
		<select id="particles">
			<option value="pm25">PM25</option>
			<option value="pm10">PM10</option>
			<option value="so2">S02</option>
			<option value="no2">NO2</option>
			<option value="o3">O3</option>
			<option value="co">CO</option>
			<option value="bc">BC</option>
		</select>
		</h4>
	
	<div>
	<h4>Particle Range: <input id="particleRange" type="number" min="0" placeholder="Highest Value">
	<input id="particleRangeMin" type="number" min="0" placeholder="Lowest Value"></h4>

	</div>
	<div>
		<h4>Days Since Today (max 90 days): <input id="numDays" type="number" min="0" max="90" placeholder="Number of past days"></h4>
		<button id="filterButton" type="button">Apply</button>
	</div>
</div>
</div>


	<input id="user_input" class="controls" type="text" placeholder="Enter a x" input type="number">
	<input id="user_input2" class="controls" type="text" placeholder="Enter a y" input type="number">
	<div id="map"></div>

	<script type="text/javascript" src='hw2-script.js'>

	</script>

	<script async defer 
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3FDWsmJtGTDHcOyDIG-VEfiKz99M-DN0&callback=initMap"></script>

		<div ng-app="myApp" ng-controller="aqCtrl"> 
			<button  ng-click="updateTable()">click</button>
<table>
	<tr>
		<th>City</th>
		<th>Country</th>
		<th>Longitude</th>
		<th>Latitude</th>
		<th>Parameter</th>
		<th>Date</th>
	</tr>
	<tr ng-repeat="x in myData">
		<td>{{x.city}}</td>
		<td>{{x.country}}</td>
		<td>{{x.coordinates.longitude}}</td>
		<td>{{x.coordinates.latitude}}</td>
		<td>{{x.parameter}}</td>
		<td>{{x.date.utc}}</td>
	</tr>
</table>


</body>
</html>